
<!-- creatre search input -->
<!-- <div class="container ml-1">
	<div class="row">
	    <div class="col-md-4"><input type="text" ng-model="searchedData" placeholder="Search For Currency"></div>
 -->	    <!-- <div class="col-md-1"><button class="btn btn-primary btn-sm"  ng-click="filterCurrency()">Filter Currency</button></div> -->
<!-- 	</div>
</div>
</br> -->
<div class="mr-2 text-info text-right">
	SEARCH:<input type="text" ng-model="searchedData" class="ml-1" ng-keyup = "tableData()">
</div>

<table class="table table-striped text-center">
	<thead class="thead-light">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Price</th>
			<th scope="col">Volume (24 hr)</th>
			<th scope="col">% Change (1hr)</th>
			<th scope="col">% Change (24hr)</th>
			<th scope="col">% Change (7 days)</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat= "values in dataArray ">
			<td scope="col">{{values[0]}}</td>
			<td scope="col">{{values[1]}}</td>
			<td scope="col">{{values[2]}}</td>
			<td scope="col">{{values[3]}}</td>
			<td scope="col">{{values[4]}}</td>
			<td scope="col">{{values[5]}}</td>
		</tr>
	</tbody>
	

</table>
</br>
<div class="ml-4 text-success" >{{currentTime}}</div>

