
     
<div class="form-group ml-3">
  
  <label for="crypto" class="ml-3 text-warning">Crypto:</label>
  <select ng-options="option for option in cryptoTypes" 
            ng-model="selectedCrypto"
            id = 'crypto'
            ng-change="selectedCryptoChanged()">
    </select>

  <label for="currency" class="ml-3 text-warning">Currency:</label>
  <select ng-options="option for option in currencyTypes" 
            ng-model="selectedCurrency"
            id="currency" 
            ng-change="selectedCurrencyChanged()">
  </select>

</div>

<div class="container ">
	<div class="row text-center text-success text-lg">
		<div class="col-md-4">Market</div>
		<div class="col-md-4">Price</div>
		<div class="col-md-4">Volume Traded</div>
	</div>
	<div class="row text-center text-info" ng-repeat= "values in marketArray">
		<div class="col-md-4">{{values.market}}</div>
		<div class="col-md-4">{{values.price}}</div>
		<div class="col-md-4">{{values.volume}}</div>
	</div>

</div>
</br>
<div class="ml-4 text-success" >{{currentTime}}</div>