.contact-form {
    margin-top:70px;
}
.contactHeading{
    font-size:  18px;
    color:  yellow;
}

span{
    font-size:  14px;
    color: yellow;
}

address{
    ont-size:  16px;
    color:  yellow;
}